<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["timeline"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Class' });
        dataTable.addColumn({type: 'string',id: 'Name'});
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });

        dataTable.addRows([

          ["All School", "", new Date({{year}}, {{month}}, {{day}}, 8, 30), new Date({{year}}, {{month}}, {{day}}, 8, 30)],
          ["Math", "", new Date({{year}}, {{month}}, {{day}}, 8, 30), new Date({{year}}, {{month}}, {{day}}, 8, 30)],
          ["Humanities", "", new Date({{year}}, {{month}}, {{day}}, 8, 30), new Date({{year}}, {{month}}, {{day}}, 8, 30)],
          ["Science", "", new Date({{year}}, {{month}}, {{day}}, 8, 30), new Date({{year}}, {{month}}, {{day}}, 8, 30)],
          ["WW", "", new Date({{year}}, {{month}}, {{day}}, 8, 30), new Date({{year}}, {{month}}, {{day}}, 8, 30)],
          ["Spanish", "", new Date({{year}}, {{month}}, {{day}}, 8, 30), new Date({{year}}, {{month}}, {{day}}, 8, 30)],
          ["Book Discussion", "", new Date({{year}}, {{month}}, {{day}}, 8, 30), new Date({{year}}, {{month}}, {{day}}, 8, 30)],
          ["PE", "", new Date({{year}}, {{month}}, {{day}}, 8, 30), new Date({{year}}, {{month}}, {{day}}, 8, 30)],
          ["Occupations", "", new Date({{year}}, {{month}}, {{day}}, 8, 30), new Date({{year}}, {{month}}, {{day}}, 8, 30)],
          ["WSH", "", new Date({{year}}, {{month}}, {{day}}, 8, 30), new Date({{year}}, {{month}}, {{day}}, 8, 30)],
          
          {% for event in classes_list %}
          
          ["{{event.event}}", "{{event.name}}", new Date({{year}}, {{month}}, {{day}}, {{event.start.hour}}-8, {{event.start.minute}}), new Date({{year}}, {{month}}, {{day}}, {{event.end.hour}}-8, {{event.end.minute}})],
          
          {% endfor %}
          
          ]);

        var options = {
          timeline: { colorByRowLabel: true },
        };

        chart.draw(dataTable, options);
      }
    </script>
  </head>
  <body>
    <h1 style="font-family: sans-serif; font-size: 46pt; margin: 0;">{{date}}</h1>
    <h3 style="font-family: sans-serif; margin: 0;">{{real_month}}/{{day}}/{{year}}</h3>
    <br/>
    <a style="font-family: sans-serif; font-size: 16pt; color: navy; text-decoration: none;" href="/{{year}}/{{real_month}}/{{day_minus}}/">Back</a>
    <a style="font-family: sans-serif; font-size: 16pt;  color: navy; position: fixed; left: 1150px; text-decoration: none;" href="/{{year}}/{{real_month}}/{{day_plus}}/">Next</a>
    <br/>
    <br/>
    <div id="timeline" style="width: 1200px; height: 460px;"></div>

  </body>
</html>